DB_USER=postgres
DB_PASSWORD=docker
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=recruitment
DB_SCHEMA=task

DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE}?schema=${DB_SCHEMA}&sslmode=prefer"
SHADOW_DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE}?schema=dbmigration&sslmode=prefer"

JWT_SECRET=QWDOIyo2SlLBxEmK0q2UqexuJhYDbxJxWZ3dLa3LHQ
REFRESH_SECRET=24VKUsuAhwV0aFmOcZHGCfi9PlE90Vp26eGH4Ii2aa4